<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Tetonor web app</title>
        <link
            rel="stylesheet"
            href="node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="node_modules/font-awesome/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="style/app.css" />
        <link rel="stylesheet" href="style/tetonor.css" />

        <script type="x-template" id="tetonor-input">
            <div class="equation-input"
                    :class="{'empty-input': !value}"
                    @click="clearValue"
                    @drop="dropChoice"
                    @dragover="dragChoice">
                <span v-if="value != null">
                    {{value}}
                </span>
            </div>
        </script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#" onclick="location.reload()">
                    <img
                        src="style/images/logo.png"
                        width="30"
                        height="30"
                        class="d-inline-block align-top"
                        alt=""
                    />
                    Tetonor
                </a>
                <span class="navbar-text">
                    <a
                        target="_blank"
                        class="bug text-muted"
                        href="https://github.com/claudiosousa/tetonor/issues/new"
                    >
                        Report a bug
                    </a>
                </span>
            </nav>
        </header>

        <main>
            <div id="app" v-cloak>
                <div v-if="game.status == GAME_STATUS.CHOOSE">
                    <choose-game :games="games" inline-template>
                        <div>
                            <div class="card" style="margin-bottom:1rem;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Join an existing game
                                    </h5>
                                    <span
                                        v-if="games.length == 0"
                                        class="comment"
                                    >
                                        No games yet
                                    </span>

                                    <div class="list-group">
                                        <a
                                            v-for="game in games"
                                            href="#"
                                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                            @click="chooseGame(game.id)"
                                            :class="game.status == GAME_STATUS.WAITING_PEER ? 'list-group-item-success' :'list-group-item-primary'"
                                        >
                                            {{ game.id }}

                                            <span
                                                class="badge  badge-pill badge-light"
                                                >{{ game.players }} /
                                                {{ game.minPlayerCount }}</span
                                            >
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Create new game</h5>
                                    <div class="row form-group">
                                        <div class="col">
                                            <label>Game name:</label>
                                            <input
                                                v-model="gameId"
                                                class="form-control"
                                                placeholder="My super game"
                                                required
                                            />
                                        </div>
                                        <div class="col">
                                            <label>Players:</label>
                                            <select
                                                class="form-control"
                                                v-model="players"
                                            >
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button
                                        type="button"
                                        style="float:right"
                                        class="btn btn-primary"
                                        @click="createGame()"
                                        :disabled="!gameId"
                                        :class="{disabled:!gameId}"
                                    >
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </choose-game>
                </div>

                <div v-if="game.status == GAME_STATUS.JOIN">
                    <join-game inline-template>
                        <div>
                            <div class="row form-group">
                                <div class="col">
                                    <label>Username:</label>
                                    <input
                                        class="form-control"
                                        v-model="username"
                                        placeholder="Superman"
                                    />
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Game chosen:</label>
                                        <input
                                            class="form-control"
                                            v-model="gameId"
                                            readonly="readonly"
                                        />
                                    </div>
                                </div>
                            </div>
                            <button
                                style="float:right;"
                                type="button"
                                class="btn btn-primary"
                                @click="joinGame()"
                            >
                                Join
                            </button>
                        </div>
                    </join-game>
                </div>

                <div
                    class="jumbotron jumbotron-fluid"
                    v-if="game.status == GAME_STATUS.WAITING_PEER"
                >
                    <waiting-players
                        :game-manager="gameManager"
                        inline-template
                    >
                        <div class="container">
                            <h1 class="display-4">
                                You joined {{ gameManager.gameId }}
                            </h1>
                            <p class="lead text-center">
                                Waiting for other players to join in... ({{
                                    game.players
                                }}
                                / {{ game.minPlayerCount }})
                            </p>
                        </div>
                    </waiting-players>
                </div>

                <div v-if="game.status == GAME_STATUS.PLAYING">
                    <tetonor inline-template :board="board" :game="game">
                        <div class="tetonor" :class="{dragging: dragging}">
                            <div class="board">
                                <div class="problem-grid">
                                    <problem
                                        inline-template
                                        v-for="(problem, index) in board.problems"
                                        :board-problem="problem"
                                        :key="index"
                                        :choices="board.choices"
                                        @updated="problemUpdated(problem)"
                                    >
                                        <div
                                            class="problem"
                                            :class="correctness"
                                        >
                                            <div class="result">
                                                {{ problem.res }}
                                            </div>
                                            <div class="equation">
                                                <tetonor-input
                                                    :input="problem.inputA"
                                                    :choices="choices"
                                                    @updated="equationUpdated(problem)"
                                                ></tetonor-input>
                                                <div
                                                    class="equation-operator"
                                                    @click="toggleOperator(problem)"
                                                >
                                                    {{ problem.operator }}
                                                </div>
                                                <tetonor-input
                                                    :input="problem.inputB"
                                                    :choices="choices"
                                                    @updated="equationUpdated(problem)"
                                                ></tetonor-input>
                                            </div>
                                        </div>
                                    </problem>
                                </div>
                            </div>
                            <div class="scores-list">
                                <h5>Player list</h5>
                                <div class="player-list">
                                    <player-score
                                        v-for="player in playersByScore"
                                        :player="player"
                                        inline-template
                                    >
                                        <div
                                            class="player list-group-item"
                                            :class="player.connected ? 'connected' : 'list-group-item-light'"
                                        >
                                            <div>{{ player.user }}</div>
                                            <div class="progress player-score">
                                                <div
                                                    class="progress-bar"
                                                    role="progressbar"
                                                    :style="{ width: player.score + '%'}"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                >
                                                    {{ score }}%
                                                </div>
                                            </div>
                                        </div>
                                    </player-score>
                                </div>
                            </div>
                            <div class="choices-container">
                                <div class="choices">
                                    <div
                                        class="choice"
                                        v-for="(choice, index) in board.choices"
                                        :draggable="choice.val && choice.available != 0"
                                        :class="{'empty-input': !choice.val, unavailable: !choice.available}"
                                        @dragstart="dragstart(index, $event)"
                                        @dragend="dragend"
                                    >
                                        {{ choice.val }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tetonor>
                </div>

                <div
                    class="jumbotron jumbotron-fluid"
                    v-if="game.status == GAME_STATUS.OVER"
                >
                    <game-over :game="game" inline-template>
                        <div class="container">
                            <h1 class="display-4">
                                Game over. You
                                {{ game.winner ? 'WON' : 'LOST' }}
                            </h1>
                            <p class="lead text-center"></p>
                            <div class="text-center">
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    @click="newGame()"
                                >
                                    Play again
                                </button>
                            </div>
                        </div>
                    </game-over>
                </div>

                <div v-if="game.status == GAME_STATUS.DISCONNECTED">
                    Connection to server was terminated. Please try again later.
                </div>

                <div
                    class="modal fade"
                    id="errorModal"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                    >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Error</h5>
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">{{ errorMessage }}</div>
                            <div class="modal-footer">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer></footer>

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/lodash/lodash.min.js"></script>
        <script src="node_modules/vue/dist/vue.js"></script>

        <script src="app.js" type="module"></script>
    </body>
</html>
