<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Tetonor web app</title>
        <link
            rel="stylesheet"
            href="node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="node_modules/font-awesome/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="style/app.css" />
        <link rel="stylesheet" href="style/tetonor.css" />

        <script type="x-template" id="tetonor-input">
            <div class="equation-input"
                 :class="{'empty-input': !value}"
                 @click="clearValue"
                 @drop="dropChoice"
                 @dragover="dragChoice">
                <span v-if="value != null">
                    {{value}}
                </span>
            </div>
        </script>

    </head>

    <body>
        <header><h1>Tetonor!</h1></header>

        <main>
            <div id="app" v-cloak>
                <div v-if="game.status == GAME_STATUS.TO_JOIN">
                    <chose-game inline-template>
                        <div>
                            <div>Choose the game to join:</div>
                            <input
                                v-model="gameName"
                                placeholder="Enter the game name to play"
                            />
                            <br />
                            <button @click="joinGame()">Join</button>
                        </div>
                    </chose-game>
                </div>

                <div v-if="game.status == GAME_STATUS.WAITING_PEER">
                    Waiting peer!
                </div>

                <div v-if="game.status == GAME_STATUS.PLAYING">
                    <tetonor inline-template :board="board">
                        <div class="tetonor" :class="{dragging: dragging}">
                            <div class="board">
                                <div class="problem-grid">
                                    <problem
                                        inline-template
                                        v-for="(problem, index) in board.problems"
                                        :problem="problem"
                                        :key="index"
                                        :choices="board.choices"
                                        @updated="problemUpdated(problem)"
                                    >
                                        <div class="problem" :class="state">
                                            <div class="result">
                                                {{ problem.res }}
                                            </div>
                                            <div class="equation">
                                                <tetonor-input
                                                    :input="problem.inputA"
                                                    :choices="choices"
                                                    @updated="equationUpdated(problem)"
                                                ></tetonor-input>
                                                <div
                                                    class="equation-operator"
                                                    @click="toggleOperator(problem)"
                                                >
                                                    {{ operator }}
                                                </div>
                                                <tetonor-input
                                                    :input="problem.inputB"
                                                    :choices="choices"
                                                    @updated="equationUpdated(problem)"
                                                ></tetonor-input>
                                            </div>
                                        </div>
                                    </problem>
                                </div>
                            </div>
                            <div class="choices-container">
                                <div class="choices">
                                    <div
                                        class="choice"
                                        v-for="(choice, index) in board.choices"
                                        :draggable="choice.val && choice.available != 0"
                                        :class="{'empty-input': !choice.val, unavailable: !choice.available}"
                                        @dragstart="dragstart(index, $event)"
                                        @dragend="dragend"
                                    >
                                        {{ choice.val }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tetonor>
                </div>
            </div>
        </main>

        <footer>
            <a
                target="_blank"
                class="bug"
                href="https://github.com/claudiosousa/tetonor/issues/new"
            >
                Report a bug
            </a>
        </footer>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/lodash/lodash.min.js"></script>
        <script src="node_modules/vue/dist/vue.js"></script>

        <script src="app.js" type="module"></script>
    </body>
</html>
