html,
body {
    height: 100%;
    margin: 0;
    background-color: #3F51B5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#app,
#app>div {
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

[v-cloak] {
    display: none;
}

#app ul li a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-decoration-skip: objects;
}