.tetonor {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 440px 1fr 36px 1fr;
    min-height: 600px;
    min-width: 1024px;
}

.tetonor.dragging .equation-input {
    background-color: #b8fdb7;
}

.board,
.choices-container {
    text-align: center;
    user-select: none;
    font-weight: 600;
    text-align: center;
}

.board {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.problem-grid {
    width: 488px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #333;
    box-shadow: 0px 0px 4px 3px #333;
}

.problem {
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(41, px);
    grid-template-rows: 72px 36px;
    grid-auto-rows: auto;
    border: 1px solid #333;
}

.game-over .problem {
    font-size: 12px;
    grid-template-rows: 30px 20px;
}

.game-over .problem-grid {
    width: 248px;
}

.game-over .equation {
    grid-template-columns: 20px 20px 20px;
    font-weight: 300;
}
.game-over .equation-input,
.game-over .equation-operator {
    cursor: initial;
}

.game-over .result {
    font-size: 14px;
}

.problem.ERROR .result {
    color: red;
}

.problem.SOLVED {
    background-color: #4ad3e8;
}

.result {
    font-size: 3rem;
    font-weight: 300;
}

.equation-input,
.equation-operator,
.result,
.choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equation {
    height: 100%;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 1fr;
}

.equation-input,
.equation-operator {
    border-top: 1px dashed #666;
    cursor: pointer;
}

.equation-input.empty-input {
    cursor: default;
}

.equation-input:first-child,
.equation-operator {
    border-right: 1px dashed #666;
}

.scores-list {
    margin: 0 20px;
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.scores-list .player-list {
    max-height: 100%;
    overflow-y: auto;
}

.scores-list .player-score {
    min-width: 50px;
    flex-grow: 1;
}

.choices-container {
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    display: grid;
    grid-template-columns: repeat(16, 41px);
    background-color: white;
}

.choice {
    border: 1px solid #333;
    cursor: move;
}

.choice.empty-input {
    cursor: pointer;
}

.choice.unavailable {
    cursor: default;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 40 40'><line x1='4' y1='36' x2='36' y2='4' stroke='black' stroke-width='2'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
}

.game-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}