.tetonor {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 440px 1fr 36px 2fr;
    text-align: center;
    user-select: none;
}

.tetonor.dragging .equation-input {
    background-color: #b8fdb7;
}

.board {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.problem-grid {
    width: 488px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.problem {
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(41, px);
    grid-template-rows: 72px 36px;
    grid-auto-rows: auto;
    border: 1px solid #333;
}

.result {
    font-size: 3rem;
}

.equation-input,
.equation-operator,
.result,
.choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equation {
    height: 100%;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 1fr;
}

.equation-input,
.equation-operator {
    border-top: 1px dotted #666;
    cursor: pointer;
}

.equation-input.empty-input {
    cursor: default;
}

.equation-input:first-child,
.equation-operator {
    border-right: 1px dotted #666;
}

.choices-container {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    display: grid;
    grid-template-columns: repeat(16, 41px);
    background-color: white;
}

.choice {
    border: 1px solid #333;
    cursor: move;
}

.choice.empty-input {
    cursor: pointer;
}

.choice.unavailable {
    cursor: default;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}